# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# folders
.idea/
build/
raisim/build
raisim/cmake-build-debug/
raisimGym/build
raisimGym/raisim_gym_torch.egg-info
raisimGym/data
raisimGym/training
raisimGym/raisimUnity
raisimGym/scripts/evaluation/outputs/*

# other files
rsc/activation.raisim
raisimUnity.x86_64



